* {
    font-family: "Helvetica", sans-serif;
}

ul {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
    margin-left: 5px;
    margin-right: 20px;
}

#title {
    text-align: center;
}